.directory
persons/
blacklist.json
node_modules
logs/*
recordings/*.pcm


# All credentials
credentials/discord.json
credentials/hue.json
credentials/mysql.json
credentials/scontrol.json
credentials/shh.json

credentials/ssh.json
